### 20 Country Stock

- 1. USA ^GSPC
- 2. UK ^FTSE
- 3. GER ^GDAXI
- 4. FRA ^FCHI
- 5. JAP ^N225
- 6. AUS ^AXJO
- 7. HKG ^HSI
- 8. CHN 000001.SS
- 9. IND ^BSESN
- 10. BRA ^BVSP
- 11. KOR ^KS11
- 12. MYS ^KLSE 
- 13. PHL PSEI.PS
- 14. SGP ^STI
- 15. TAI ^TWII
- 16. THA ^SET.BK
- 17. ARG ^MERV
- 18. MEX ^MXX
- 19. CHL ^IPSA
- 20. TUR XU100.IS

In [167]:
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import datetime

In [96]:
raw_data = yf.download(["^GSPC", "^FTSE", "^GDAXI", "^FCHI", "^N225", "^AXJO", "^HSI", "000001.SS", "^BSESN", "^BVSP", "^KS11",
                "^KLSE", "PSEI.PS", "^STI", "^TWII", "^SET.BK",  "^MERV", "^MXX", "XU100.IS"], start='1990-01-01', end='2024-09-30')

[*********************100%***********************]  19 of 19 completed

In [102]:
raw_data.index = raw_data.index.tz_localize(None)

In [104]:
data = raw_data[["Close", "Open", "High", "Low"]]

In [105]:
data = data.dropna()

In [107]:
data.to_excel("total.xlsx")

In [217]:
AUS = yf.download("^AXJO", start="1990-01-01", end="2024-09-12")

[*********************100%***********************]  1 of 1 completed

In [219]:
AUS.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1992-11-23,1455.000000,1455.000000,1455.000000,1455.000000,1455.000000,0
1992-11-24,1458.400024,1458.400024,1458.400024,1458.400024,1458.400024,0
1992-11-25,1467.900024,1467.900024,1467.900024,1467.900024,1467.900024,0
1992-11-26,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,0
1992-11-27,1458.900024,1458.900024,1458.900024,1458.900024,1458.900024,0

In [220]:
AUS.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-09-05,7950.500000,7991.799805,7950.500000,7982.399902,7982.399902,796400
2024-09-06,7982.399902,8030.299805,7982.399902,8013.399902,8013.399902,633300
2024-09-09,8013.399902,8013.399902,7918.899902,7988.100098,7988.100098,617700
2024-09-10,7988.100098,8057.899902,7988.100098,8011.899902,8011.899902,660100
2024-09-11,8011.899902,8024.500000,7963.899902,7987.899902,7987.899902,690000